
/* Estilos para el encabezado */
header 
{
  text-align: center;
  padding: 10px;
  
}

/* Estilos para la barra de navegación */
nav 
{
  text-align: center;
  word-spacing: 30px;
  padding: 10px;
  background-color: #ececda; /* Beige pastel */
  font-family: cursive;
}

title
{
  font-weight: bold;
  font-size: 500px;
  color: #7dd5ce !important;
}
/* Estilos generales */
* 
{
  box-sizing: border-box;
  font-family: 'Times New Roman' ;/* Mejora la consistencia de los tamaños */ 
}

/* Estilos para las filas de contenido */
.row 
{
  display: flex;
  flex-wrap: wrap;
}

/* Estilos para el área de texto de las publicaciones */
.post-text-box, .profile 
{
  flex: 70%;
  padding: 20px;
}

/* Estilos para las imágenes de perfil */
.profile img 
{
  width: 120px;
  display: block;
  margin: 50 center; 
 
}

/* Estilos para los títulos */
h1 
{
  font-weight: bold;
  font-size: 500px;
  color: #aa7dd5 !important;
  
}

h2 
{
  font-size: 30px;
  color: #a568bf !important;
}

h3
{
  font-size: 20px;
  color: #8f5ba6 !important;
}


h4
{
  font-weight: bold;
  font-size: 40px;
  color: #bf72c6 !important;
  
}
/* Estilos para los párrafos */
p 
{
  color: #4A235A;
  font-size: 20px;
}

/* Estilos para los enlaces de navegación */
nav a 
{
  color: #6b8e23; /* Verde pastel */
  text-decoration: none;
  font-size: larger;
}

/* Estilos para los elementos de la lista */
li 
{
  font-size: 20px;
  color:#4A235A;
}

/* Estilos para el fondo del cuerpo */
body 
{
  background: #f0f0e6; /* Un tono suave de amarillo */
}

tr
{
  color: #4A235A !important;
}


footer
{
  text-align: center;
  word-spacing: 30px;
  padding: 10px;
  background-color: #111212 !important; /* Beige pastel */
  font-family: cursive;
}

#Inicio
{
  margin: 20px;
  padding: 20px;
  background-color:rgb(154, 226, 224) ;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,255,255);
  transition: box-shadow 0.3s ease-out;

  width: 100px;
}

#Quiénes_somos
{
  margin: 20px;
  padding: 20px;
  background-color: rgb(255, 216, 253);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,255,255);
  transition: box-shadow 0.3s ease-out;
}

#Productos-y-servicios
{
  margin: 20px;
  padding: 20px;
  background-color:  rgb(154, 226, 224);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,255,255);
  transition: box-shadow 0.3s ease-out;
}


#Soporte-virtual
{
  margin: 20px;
  padding: 20px;
  background-color: rgb(255, 216, 253);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,255,255);
  transition: box-shadow 0.3s ease-out;
}

#Contactanos
{
  margin: 20px;
  padding: 20px;
  background-color: rgb(154, 226, 224);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,255,255);
  transition: cubic-bezier() 0.3s ease-out;
}